html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

footer {
    background-color: greenyellow; 
    color: white;
    text-align: center;
    padding: 10px;
}
.nav-logo {
    height: 60px; ) 
    width: auto; 
}

.footer-logo {
    height: 80px; 
    width: auto;
}


.navbar, footer {
    padding-top: 10px;
    padding-bottom: 10px;
}

